.app {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .appHeader {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
}

.app .appBody {
  -webkit-box-flex: 1.9;
      -ms-flex: 1.9;
          flex: 1.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app .appBody .appMap {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.app .appBody .appMenu {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.app .modal {
  height: auto;
  width: auto;
}

@media screen and (max-width: 768px) {
  .app {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .appHeader {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
  }
  .app .appBody {
    -webkit-box-flex: 1.9;
        -ms-flex: 1.9;
            flex: 1.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .appBody .appMap {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
  }
  .app .appBody .appMenu {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .app .modal {
    height: auto;
    width: auto;
  }
}

body {
  margin: 0px;
}

html {
  font-family: "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.header {
  height: 100%;
  width: 100%;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .logo {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .logo img {
  height: 4vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
}

.header .links .informationIcon {
  cursor: pointer;
}

.header .links svg {
  width: 38px;
  padding: 4px;
  border-radius: 16px;
}

.header .links svg:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header .links svg:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu {
  height: 94.4vh;
  width: 100%;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .locationsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.menu .locationsHeader .headerButton {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu .locationsHeader .headerButton:hover {
  border-color: #ccc;
  background-color: #bbb;
}

.menu .locationsHeader .headerButton:active {
  background-color: #aaa;
}

.menu .propertiesList {
  border-top: solid;
  border-width: 1px;
  border-color: #ccc;
  -webkit-box-flex: 9.5;
      -ms-flex: 9.5;
          flex: 9.5;
  overflow-y: scroll;
}

.map {
  height: 94.4vh;
  width: 100%;
}

.marker {
  position: "absolute";
  width: 15px;
  height: 15px;
  left: -7.5px;
  top: -7.5px;
  border: 5px solid #f44336;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  color: #3f51b5;
  font-size: 16;
  font-weight: bold;
  padding: 4;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.marker:hover {
  border: 5px solid green;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: forestgreen;
}

.hoveredMarker {
  border: 5px solid green;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: forestgreen;
}

.menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: 164px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menuItem img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  padding: 8px;
  width: 35%;
}

.menuItem .propertieInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  width: 60%;
}

.menuItem .propertieInfo .propertiesPrice {
  font-size: x-large;
  color: #3d5e2a;
}

.menuItem .propertieInfo .propertiesFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuItem .propertieInfo .propertiesFeatures .feature svg {
  width: 16px;
}

.menuItemOdd {
  background-color: #ccc;
}

.hoveredMenuItem {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  background-color: #aaa;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.propertyContainer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.propertyContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  padding: 8px;
  height: 50vh;
}

.propertyContainer .propertyDetails {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.propertyContainer .propertyDetails .modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propertyContainer .propertyDetails .modalHeader .propertyClass {
  font-size: larger;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.propertyContainer .propertyDetails .modalHeader .closeIcon {
  cursor: pointer;
}

.propertyContainer .propertyDetails .modalHeader .closeIcon svg {
  width: 24px;
  color: gray;
  padding: 2px;
  border-radius: 16px;
}

.propertyContainer .propertyDetails .modalHeader .closeIcon svg:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.propertyContainer .propertyDetails .modalHeader .closeIcon svg:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.propertyContainer .propertyDetails .propertyAddress {
  font-size: larger;
  font-weight: 300;
}

.propertyContainer .propertyDetails .propertyPrice {
  font-size: xx-large;
  color: #3d5e2a;
}

.propertyContainer .propertyDetails .propertyInstallments {
  font-weight: 300;
}

.propertyContainer .propertyDetails .propertyFeature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.propertyContainer .propertyDetails .propertyFeature .iconDetail {
  font-weight: 300;
}

.propertyContainer .propertyDetails .propertyFeature .iconDetail svg {
  width: 16px;
}

.propertyContainer button {
  background-color: #24a0ed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.propertyContainer button:hover {
  background-color: #1183ca;
}

.propertyContainer button:active {
  background-color: #389bd9;
}

@media screen and (max-width: 768px) {
  .propertyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100vw;
  }
}

.informationContainer .informationHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informationContainer .informationHeader h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.informationContainer .informationHeader .closeIcon {
  cursor: pointer;
}

.informationContainer .informationHeader .closeIcon svg {
  width: 24px;
  color: gray;
  padding: 2px;
  border-radius: 16px;
}

.informationContainer .informationHeader .closeIcon svg:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.informationContainer .informationHeader .closeIcon svg:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee;
  border-top: solid;
  border-width: 1px;
  border-top-color: #aaa;
}

.filter .filterHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: #aaa;
  padding: 8px;
  background-color: #ccc;
  cursor: pointer;
}

.filter .filterHeader .filterHeaderTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.filter .filterHeader:hover {
  background-color: #aaa;
}

.filter .filterBodyHide {
  max-height: 0;
  -webkit-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
  overflow: hidden;
}

.filter .filterBodyShow {
  max-height: 500px;
  -webkit-transition: max-height 1.5s ease-in;
  transition: max-height 1.5s ease-in;
  overflow: hidden;
}

.filter .classFilter {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter .classFilter .classButton {
  padding: 4px;
  margin-right: 4px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.filter .classFilter .classButton:hover {
  background-color: green;
  color: #fff;
}

.filter .classFilter .classButton:active {
  background-color: darkgreen;
  color: white;
}

.filter .priceRange {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter .priceRange .priceInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter .priceRange .priceInputs .inputTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.filter button {
  margin-top: 16px;
  background-color: forestgreen;
  /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.filter button:hover {
  background-color: green;
}

.selectedButton {
  background-color: forestgreen;
  color: white;
}

input[type="number"] {
  padding: 3px 5px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */