.marker {
  position: "absolute";
  width: 15px;
  height: 15px;
  left: -7.5px;
  top: -7.5px;
  border: 5px solid #f44336;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  color: #3f51b5;
  font-size: 16;
  font-weight: bold;
  padding: 4;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 5px solid green;
    transform: scale(1.4);
    color: forestgreen;
  }
}
.hoveredMarker {
  border: 5px solid green;
  transform: scale(1.4);
  color: forestgreen;
}
